# --- Python ---
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.sqlite3

# --- Virtual environment ---
venv/
.venv/
env/
ENV/
archiveproject/.env/
env.bak/
venv.bak/

# --- Django specific ---
db.sqlite3
staticfiles/
media/
*.log

# --- Environment & Secrets ---
.env
.env.*

# --- IDE (PyCharm, VSCode, etc) ---
.vscode/
.idea/
*.swp
*.swo
.xml

# --- System files ---
.DS_Store
Thumbs.db
desktop.ini

# --- Database ---
pwu_archive_db