{% extends 'home_base.html' %}
{% block title %}Disposisi - Buat Disposisi{% endblock %}
{% block content %}

<div class="bg-gray-50/10 p-4 select-none w-full">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="space-y-2">
            <div class="flex items-center justify-between">
               <div class="flex">
                   <p class="text-md font-semibold w-60 my-1">Tanggal Surat Diterima</p>
                   <input type="date" name="tanggal_surat_diterima" id="date_tsd" style="color-scheme: light;"
                            class="border border-black rounded-sm shadow-sm pl-1" required>
               </div>
            </div>

            <input type="hidden" name="nomor_agenda" id="nomor_agenda_input">

            <div class="flex items-center">
                <p class="text-md font-semibold w-60 my-1">Tanggal Surat</p>
                <input type="date" name="tanggal_surat" id="date_ts" style="color-scheme: light;"
                            class="border border-black rounded-sm shadow-sm pl-1"
                            name="tanggal_surat" required>
            </div>

            <div class="flex items-center">
                <p class="text-md font-semibold w-60 my-1">Nomor Surat</p>
                <input name="nomor_surat" required autocomplete="off"
                        class="border p-1 h-6 text-xs bg-white flex-grow" type="text">
            </div>

            <div class="flex items-center">
                <p class="text-md font-semibold w-60 my-1">Pengirim</p>
                <input name="pengirim" required autocomplete="off"
                        class="border p-1 h-6 text-xs bg-white flex-grow" type="text">
            </div>

            <div class="flex items-center">
                <p class="text-md font-semibold w-60 my-1">Lampiran</p>
                <input name="lampiran" required autocomplete="off"
                        class="border p-1 h-6 text-xs bg-white flex-grow" type="text">
            </div>

            <div class="flex items-center">
                <p class="text-md font-semibold w-60 my-1">Tujuan</p>
                <select name="tujuan" required
                        class="border rounded-sm w-36 p-1 text-xs bg-white">
                    <option value="DIRUT">Direksi Utama</option>
                    <option value="DIR">Direksi</option>
                </select>
            </div>

            <div class="flex items-center">
                <p class="text-md font-semibold w-60 my-1">Tembusan</p>
                <input name="tembusan" required autocomplete="off"
                        class="border p-1 h-6 text-xs bg-white flex-grow" type="text">
            </div>

            <div class="flex items-center">
                <p class="text-md font-semibold w-60 my-1">Perihal</p>
                <textarea name="perihal" required autocomplete="off"
                    class="border p-1 h-20 text-xs bg-white flex-grow resize-none"
                ></textarea>
            </div>

            <div class="flex items-center">
                <p class="text-md font-semibold w-60 my-1">Dokumen Surat Masuk</p>

                <div class="flex items-center gap-2 flex-grow">
                    <input
                        type="file"
                        name="dokumen_surat_masuk"
                        id="dokumenInput"
                        accept=".pdf,.jpg,.jpeg,.png"
                        required
                        class="hidden"
                    >

                    <button
                        type="button"
                        id="btnFile"
                        class="bg-gray-200 border border-gray-400 px-3 py-1 text-xs rounded hover:bg-gray-300"
                    >
                        Pilih File
                    </button>

                    <button
                        type="button"
                        id="btnPreview"
                        class="bg-gray-200 border border-gray-400 px-3 py-1 text-xs rounded hover:bg-gray-300 hidden"
                    >
                        Preview
                    </button>

                    <span
                        id="fileName"
                        class="text-xs text-gray-600 truncate max-w-xs"
                    >
                        Belum ada file
                    </span>
                </div>
            </div>

        </div>

        <br/>
        <div class="fixed bottom-0 left-0 md:left-25 right-0 flex justify-between px-4 py-2 shadow-lg">
            <a href="{% url 'disposisi:disposisi' %}"
               class="bg-blue-950 text-white font-semibold rounded w-30 h-10 text-md
                      hover:bg-blue-900 flex items-center justify-center">
                Kembali
            </a>

            <button type="submit"
                    class="bg-blue-950 text-white font-semibold rounded w-30 h-10 text-md hover:bg-blue-900">
                Buat
            </button>
        </div>
    </form>
</div>

<script>
    const dateInput = document.getElementById('date_tsd');
    const nomorAgendaInput = document.getElementById('nomor_agenda_input');

    const nomorAgenda = document.getElementById('nomor_agenda');
    const bulanAgenda = document.getElementById('bulan_agenda');
    const tahunAgenda = document.getElementById('tahun_agenda');

    const fileInput = document.getElementById('dokumenInput');
    const btnFile = document.getElementById('btnFile');
    const fileName = document.getElementById('fileName');

    const btnPreview = document.getElementById('btnPreview');
    let previewURL = null;

    const bulanRomawi = [
        '', 'I', 'II', 'III', 'IV', 'V','VI',
        'VII', 'VIII', 'IX', 'X', 'XI', 'XII'
    ];

    function updateAgenda() {
        if(!dateInput.value){
            nomorAgenda.textContent = '--';
            bulanAgenda.textContent = '--';
            tahunAgenda.textContent = '----';
            return;
        }

        const [year, month, day] = dateInput.value.split('-');

        const nomor = document.getElementById('nomor_agenda').textContent.trim();
        const bulan = bulanRomawi[parseInt(month, 10)];

        nomorAgenda.textContent = nomor;
        bulanAgenda.textContent = bulan;
        tahunAgenda.textContent = year;
        nomorAgendaInput.value = `${nomor}/${bulan}/${year}`;
    }

    dateInput.addEventListener('change', updateAgenda);

    btnFile.addEventListener('click', () => {
        fileInput.click();
    });

    fileInput.addEventListener('change', () => {
        if (!fileInput.files.length) {
            fileName.textContent = 'Belum ada file';
            btnPreview.classList.add('hidden');
            previewURL = null;
            return;
        }

        const file = fileInput.files[0];
        const allowed = ['pdf', 'jpg', 'jpeg', 'png'];
        const ext = file.name.split('.').pop().toLowerCase();

        if (!allowed.includes(ext)) {
            alert('Format file tidak diizinkan (PDF / JPG / PNG)');
            fileInput.value = '';
            fileName.textContent = 'Belum ada file';
            btnPreview.classList.add('hidden');
            previewURL = null;
            return;
        }

        fileName.textContent = file.name;
        previewURL = URL.createObjectURL(file);
        btnPreview.classList.remove('hidden');
    });

    btnPreview.addEventListener('click', () => {
        if(!previewURL) {
            alert('Belum ada URL');
            return;
        }
        window.open(previewURL);
    });

</script>

{% endblock %}
