{% extends 'home_base.html' %}
{% block title %}Disposisi - Buat Disposisi{% endblock %}
{% block content %}

<div class="bg-gray-50/10 p-4 select-none w-full">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="space-y-2">
            <div class="flex items-center justify-between">
                <div class="flex">
                   <p class="text-md font-semibold w-60 my-1">Tanggal Surat Diterima</p>
                   <input type="date" name="tanggal_surat_diterima" id="date_tsd" style="color-scheme: light;"
                            class="border border-black rounded-md shadow-sm pl-1"
                            value="{{ disposisi.tanggal_surat_diterima|date:'Y-m-d' }}">
                </div>
                <div>
                    <button type="submit"
                       formaction="{% url 'disposisi:hapusdisposisi' disposisi.id %}"
                       formmethod="post"
                       onclick="return confirm('Yakin Ingin Menghapus Disposisi Ini?')"
                        class="inline-flex bg-blue-950 text-white items-center justify-center font-semibold
                        rounded w-20 h-8 text-sm font-bold hover:bg-red-800 cursor-pointer">
                        Hapus
                    </button>
                </div>
            </div>

<!--            <div class="flex items-center">-->
<!--                <p class="text-md font-semibold w-60 my-1">Nomor Agenda</p>-->
<!--                <p id = "nomor_agenda"-->
<!--                        class="mx-1 w-4">{{no_id_agenda}}</p>-->
<!--                <p class="text-2xl mx-2">/</p>-->
<!--                <p id = "bulan_agenda"-->
<!--                        class="mx-1 w-4">&#45;&#45;</p>-->
<!--                <p class="mx-2 text-2xl ">/</p>-->
<!--                <p id = "tahun_agenda"-->
<!--                        class="mx-1 w-8">&#45;&#45;&#45;&#45;</p>-->
<!--                <input type="hidden" name="nomor_agenda" id="nomor_agenda_input" value="{{ disposisi.nomor_agenda }}">-->

<!--            </div>-->

            <div class="flex items-center">
                <p class="text-md font-semibold w-60 my-1">Tanggal Surat</p>
                <input type="date" name="tanggal_surat" id="date_ts" style="color-scheme: light;"
                            class="border border-black rounded-md shadow-sm pl-1"
                            value="{{ disposisi.tanggal_surat|date:'Y-m-d' }}">
            </div>

            <div class="flex items-center">
                <p class="text-md font-semibold w-60 my-1">Nomor Surat</p>
                <input name="nomor_surat" required autocomplete="off" placeholder="{{ disposisi.nomor_surat }}"
                       value="{{ disposisi.nomor_surat }}"
                        class="border p-1 h-6 text-xs bg-white flex-grow" type="text">
            </div>

            <div class="flex items-center">
                <p class="text-md font-semibold w-60 my-1">Pengirim</p>
                <input name="pengirim" required autocomplete="off" placeholder="{{ disposisi.pengirim }}"
                       value="{{disposisi.pengirim }}"
                        class="border p-1 h-6 text-xs bg-white flex-grow" type="text">
            </div>

            <div class="flex items-center">
                <p class="text-md font-semibold w-60 my-1">Lampiran</p>
                <input name="lampiran" required autocomplete="off" placeholder="{{ disposisi.lampiran }}"
                       value="{{ disposisi.lampiran }}"
                        class="border p-1 h-6 text-xs bg-white flex-grow" type="text">
            </div>

            <div class="flex items-center">
                <p class="text-md font-semibold w-60 my-1">Tujuan</p>
                <select name="tujuan" required
                        class="border rounded-sm w-36 p-1 text-xs bg-white">
                    <option value="DIRUT"
                            {% if disposisi.tujuan == 'DIRUT' %}
                                selected
                            {% endif %}>
                        Direksi Utama
                    </option>
                    <option value="DIR"
                            {% if disposisi.tujuan == 'DIR' %}
                                selected
                            {% endif %}>
                        Direksi
                    </option>
                </select>
            </div>

            <div class="flex items-center">
                <p class="text-md font-semibold w-60 my-1">Tembusan</p>
                <input name="tembusan" required autocomplete="off" placeholder="{{ disposisi.tembusan }}"
                       value="{{ disposisi.tembusan }}"
                        class="border p-1 h-6 text-xs bg-white flex-grow" type="text">
            </div>

            <div class="flex items-center">
                <p class="text-md font-semibold w-60 my-1">Perihal</p>
                <textarea name="perihal" required autocomplete="off" placeholder="{{ disposisi.perihal }}"
                    class="border p-1 h-20 text-xs bg-white flex-grow resize-none" maxlength="500"
                >{{disposisi.perihal}}</textarea>
            </div>

            <div class="flex items-center">
                <p class="text-md font-semibold w-60 my-1">Dokumen Surat Masuk</p>

                <div class="flex items-center gap-2 flex-grow">
                    <input
                        type="file"
                        name="dokumen_surat_masuk"
                        id="fileSuratInput"
                        accept=".pdf,.jpg,.jpeg,.png"
                        class="hidden"
                    >

                    <button
                        type="button"
                        id="fileSuratPilih"
                        class="bg-gray-200 border border-gray-400 px-3 py-1 text-xs rounded
                        hover:bg-gray-300 cursor-pointer"
                    >
                        Pilih File
                    </button>

                    <button
                        type="button"
                        id="fileSuratPreview"
                        class="bg-gray-200 border border-gray-400 px-3 py-1 text-xs rounded
                        hover:bg-gray-300 cursor-pointer"
                    >
                        Preview
                    </button>

                    <span
                        id="fileNameSurat"
                        class="text-xs text-gray-600 truncate max-w-xs"
                        data-dokumensurat=" {{disposisi.dokumen_surat_masuk.url}}"
                   >
                        {{disposisi.name_dokumen_surat_masuk}}
                        <br>
                    </span>

                </div>
            </div>

            {% if disposisi.status_pengajuan == 'NOTDIISI' %}
            <div class="flex items-center" id="editFileDisposisi">
                <p class="text-md font-semibold w-60 my-1">Disposisi</p>

                <div class="flex items-center gap-2 flex-grow">
                    <input
                        type="file"
                        name="dokumen_disposisi"
                        id="fileDisposisiInput"
                        accept=".pdf,.jpg,.jpeg,.png"
                        class="hidden"
                    >

                    <button
                        type="button"
                        id="fileDisposisiPilih"
                        class="bg-gray-200 border border-gray-400 px-3 py-1 text-xs rounded
                        hover:bg-gray-300 cursor-pointer"
                    >
                        Pilih File
                    </button>

                    <button
                        type="button"
                        id="fileDisposisiPreview"
                        class="bg-gray-200 border border-gray-400 px-3 py-1 text-xs rounded
                        hover:bg-gray-300 cursor-pointer"
                    >
                        Preview
                    </button>

                    <span
                        id="fileNameDisposisi"
                        class="text-xs text-gray-600 truncate max-w-xs"
                        data-dokumendisposisi="{% if disposisi.dokumen_disposisi %}{{ disposisi.dokumen_disposisi.url }}{% endif %}"
                   >
                        {% if disposisi.dokumen_disposisi %}
                            {{ disposisi.dokumen_disposisi.name|slice:"30:" }}
                        {% else %}
                            Belum ada file
                        {% endif %}
                        <br>
                    </span>

                </div>
            </div>
            {% endif %}
        </div>

        <br/>

        <div class="fixed bottom-0 left-25 right-0 flex justify-between px-5 py-3 shadow-lg">
            <a href="{% url 'disposisi:detaildisposisi' disposisi.id %}"
               class="bg-blue-950 text-white font-semibold rounded w-30 h-10 text-md
                      hover:bg-blue-900 flex items-center justify-center">
                Kembali
            </a>

            <button type="submit" id="submitBtn"
                    class="bg-blue-950 text-white font-semibold rounded w-30 h-10 text-md
                    hover:bg-blue-900 cursor-pointer">
                Simpan
            </button>
        </div>
    </form>
</div>

<script>
    const dateInput = document.getElementById('date_tsd');
    const nomorAgendaInput = document.getElementById('nomor_agenda_input');

    const nomorAgenda = document.getElementById('nomor_agenda');
    const bulanAgenda = document.getElementById('bulan_agenda');
    const tahunAgenda = document.getElementById('tahun_agenda');

    const fileInputSurat = document.getElementById('fileSuratInput');
    const fileSuratPilih = document.getElementById('fileSuratPilih');
    const fileNameSurat = document.getElementById('fileNameSurat');
    const fileSuratPreview = document.getElementById('fileSuratPreview');
    let previewURLSurat = document.getElementById('fileNameSurat').dataset.dokumensurat;

    const fileInputDisposisi = document.getElementById('fileDisposisiInput');
    const fileDisposisiPilih = document.getElementById('fileDisposisiPilih');
    const fileNameDisposisi = document.getElementById('fileNameDisposisi');
    const fileDisposisiPreview = document.getElementById('fileDisposisiPreview');

    const bulanRomawi = [
        '', 'I', 'II', 'III', 'IV', 'V',
        'VI', 'VII', 'VIII', 'IX', 'X', 'XI', 'XII'
    ];

<!--    const [year, month, day] = dateInput.value.split('-');-->
<!--    document.getElementById('bulan_agenda').textContent = bulanRomawi[parseInt(month, 10)];;-->
<!--    document.getElementById('tahun_agenda').textContent = year;-->


<!--    function updateAgenda() {-->
<!--        if(!dateInput.value){-->
<!--            nomorAgenda.textContent = '&#45;&#45;';-->
<!--            bulanAgenda.textContent = '&#45;&#45;';-->
<!--            tahunAgenda.textContent = '&#45;&#45;&#45;&#45;';-->
<!--            return;-->
<!--        }-->

<!--        const [year, month, day] = dateInput.value.split('-');-->

<!--        const nomor = document.getElementById('nomor_agenda').textContent.trim();-->
<!--        const bulan = bulanRomawi[parseInt(month, 10)];-->

<!--        nomorAgenda.textContent = nomor;-->
<!--        bulanAgenda.textContent = bulan;-->
<!--        tahunAgenda.textContent = year;-->
<!--        nomorAgendaInput.value = `${nomor}/${bulan}/${year}`;-->
<!--    }-->

<!--    dateInput.addEventListener('change', updateAgenda);-->

    //Edit Dokumen Surat Masuk
    fileSuratPilih.addEventListener('click', () => {
        fileInputSurat.click();
    });

    fileInputSurat.addEventListener('change', () => {
        if (!fileInputSurat.files.length) {
            fileNameSurat.textContent = 'Belum ada file';
            fileSuratPreview.classList.add('hidden');
            previewURLSurat = null;
            return;
        }

        const file = fileInputSurat.files[0];
        const allowed = ['pdf', 'jpg', 'jpeg', 'png'];
        const ext = file.name.split('.').pop().toLowerCase();

        if (!allowed.includes(ext)) {
            alert('Format file tidak diizinkan (PDF / JPG / PNG)');
            fileInputSurat.value = '';
            fileNameSurat.textContent = 'Belum ada file';
            fileSuratPreview.classList.add('hidden');
            previewURLSurat = null;
            return;
        }

        fileNameSurat.textContent = file.name;
        previewURLSurat = URL.createObjectURL(file);
        fileSuratPreview.classList.remove('hidden');
    });

    fileSuratPreview.addEventListener('click', () => {
        if(!previewURLSurat) {
            alert('Belum ada URL');
            return;
        }
        window.open(previewURLSurat);
    });

    if (fileInputDisposisi) {
        let previewURLDisposisi = fileNameDisposisi.dataset.dokumendisposisi || null;

        fileDisposisiPilih.addEventListener('click', () => {
            fileInputDisposisi.click();
        });

        fileInputDisposisi.addEventListener('change', () => {
            if (!fileInputDisposisi.files.length) {
                fileNameDisposisi.textContent = 'Belum ada file';
                fileDisposisiPreview.classList.add('hidden');
                previewURLDisposisi = null;
                return;
            }

            const file = fileInputDisposisi.files[0];
            const allowed = ['pdf', 'jpg', 'jpeg', 'png'];
            const ext = file.name.split('.').pop().toLowerCase();

            if (!allowed.includes(ext)) {
                alert('Format file tidak diizinkan (PDF / JPG / PNG)');
                fileInputDisposisi.value = '';
                fileNameDisposisi.textContent = 'Belum ada file';
                fileDisposisiPreview.classList.add('hidden');
                previewURLDisposisi = null;
                return;
            }

            fileNameDisposisi.textContent = file.name;
            previewURLDisposisi = URL.createObjectURL(file);
            fileDisposisiPreview.classList.remove('hidden');
        });

        fileDisposisiPreview.addEventListener('click', () => {
            if (!previewURLDisposisi) {
                alert('Belum ada URL');
                return;
            }
            window.open(previewURLDisposisi);
        });
    }

    const submitBtn = document.getElementById('submitBtn');
    const formInputs = document.querySelectorAll('form input:not([type="hidden"]), form select, form textarea');
    const initialState = {};

    formInputs.forEach(input => {
        initialState[input.name] = input.value;

        input.addEventListener('input', checkFormChanges);
        input.addEventListener('change', checkFormChanges);
    });

    function checkFormChanges() {
        let hasChanged = false;

        formInputs.forEach(input => {
            if (input.value !== initialState[input.name]) {
                hasChanged = true;
            }
        });

        if (hasChanged) {
            submitBtn.disabled = false;
            submitBtn.classList.remove('bg-gray-400', 'cursor-not-allowed');
            submitBtn.classList.add('bg-blue-950', 'hover:bg-blue-900', 'cursor-pointer');
        } else {
            submitBtn.disabled = true;
            submitBtn.classList.remove('bg-blue-950', 'hover:bg-blue-900', 'cursor-pointer');
            submitBtn.classList.add('bg-gray-400', 'cursor-not-allowed');
        }
    }

    checkFormChanges();

</script>

{% endblock %}
