asgiref==3.11.0
Django==5.2.16
django-browser-reload==1.21.0
django-crispy-forms==2.5
django-environ==0.12.0
django-tailwind==4.4.2
pillow==12.3.0
pypdf==6.15.0
psycopg2==2.9.11
pytailwindcss==0.3.0
python-dotenv==1.2.2
sqlparse==0.5.4
tzdata==2025.2
weasyprint==69.0
gunicorn==26.0.0
whitenoise==6.12.0
cryptography==48.0.1
