{% extends 'home_base.html' %}
{% block title %}SISTEM ARSIP - DISPOSISI{% endblock %}
{% block content %}
    <div class="bg-gray-50 p-2 select-none w-full">
        <div class="mt-2 flex justify-between">
            <div class="flex">
                <p class="font-bold text-md mt-[2px] mx-1">Cari </p>
                <input id="cariDis" class="mx-2 mt-1 border rounded p-1 h-6 text-md bg-white" type="text">
                <button id= "cariBut" type="button"
                        class="flex items-center justify-center mt-1 bg-blue-950 text-white w-6 h-6 rounded
                hover:bg-blue-900 hover:shadow-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 items-center">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                    </svg>
                </button>
            </div>

            <div class="flex gap-2">
                <a href="{% url 'disposisi:filterdisposisi' %}"
                   class="hidden sm:flex items-center justify-center
                          bg-blue-950 text-white text-md rounded-lg
                          w-28 h-8 mx-1 hover:bg-blue-900 hover:shadow-md">
                    Filter
                </a>

                <a href="{% url 'disposisi:tambahdisposisi' %}"
                   class="hidden sm:flex items-center justify-center
                          bg-blue-950 text-white text-md rounded-lg
                          w-28 h-8 mx-1 hover:bg-blue-900 hover:shadow-md">
                    Tambah
                </a>
            </div>

        </div>

        <div class="mt-2 w-full bg-white border border-gray-200 shadow p-2">
            <div class="flex mb-2">
                <p class="flex text-md font-medium mx-1 mt-1">Tampilkan</p>
                <select id="selectDisNum" class="flex border w-13 h-7 ml-2 mt-px text-md bg-white">
                    <option value="1"
                            {% if page_limit == "1" %} selected {% endif %}>20</option>
                    <option value="2"
                            {% if page_limit == "2" %} selected {% endif %}>50</option>
                    <option value="3"
                            {% if page_limit == "3" %} selected {% endif %}>100</option>
                </select>
            </div>

            <div class="overflow-y-auto w-full mt-2 sm:max-h-[700px] md:max-h-[700px] lg:max-h-[700px] xl:max-h-[750px]">
                <table class="table-fixed border-collapse mt-1 border border-gray-300 text-md text-center w-full">
                    <thead class="sticky top-0 bg-gray-400 z-2">
                        <tr>
                            <th class="border px-4 py-2 w-12">No</th>
                            <th class="border px-4 py-2 w-50">Tanggal Surat Diterima</th>
                            <th class="border px-4 py-2 w-50">Nomor Agenda</th>
                            <th class="border px-4 py-2 w-50">Tanggal Surat</th></th>
                            <th class="border px-4 py-2 w-70">Nomor Surat</th>
                            <th class="border px-4 py-2 w-70">Pengirim</th>
                            <th class="border px-4 py-2 w-50">Lampiran</th>
                            <th class="border px-4 py-2 w-50">Tujuan</th>
                            <th class="border px-4 py-2 w-50">Tembusan</th>
                            <th class="border px-4 py-2 w-140">Perihal</th>
                            <th class="border px-4 py-2 w-50">Status Pengajuan</th>
                        </tr>
                    </thead>

                    <tbody id="tableBody">
                        {% include "partials/disposisi_table.html" %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt-2 flex justify-center bg:black md:justify-between" id="paginationDis">
            {% include "partials/disposisi_pagination.html" %}
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const selectLimitDis = document.getElementById('selectDisNum');
            const searchInputDis = document.getElementById('cariDis');
            const cariDisBut = document.getElementById('cariBut');

            const tableBody = document.getElementById('tableBody');
            const paginationDis = document.getElementById('paginationDis');

            function loadDataDis(page = 1){
                const params = new URLSearchParams({
                    page: page,
                    limit: selectLimitDis.value,
                    search: searchInputDis.value.trim()
                });

                fetch(`?${params.toString()}`, {
                    headers: { 'X-Requested-With': 'XMLHttpRequest' }
                })
                .then(res => res.json())
                .then(data => {
                    tableBody.innerHTML = data.table;
                    paginationDis.innerHTML = data.pagination;
                });
            }

            // Change limit
            selectLimitDis.addEventListener('change', () => loadDataDis(1));

            // Search
            cariDisBut.addEventListener('click', () => loadDataDis(1));
            searchInputDis.addEventListener('keyup', e => {
                if(e.key === 'Enter') {
                    loadDataDis(1);
                }
            });

            // Pagination buttons
            document.addEventListener('click', function (e) {
                if (e.target.dataset.page) {
                    e.preventDefault();
                    loadDataDis(e.target.dataset.page);
                }
            });
        });

    </script>

{% endblock %}





