<!DOCTYPE html>
<html lang="en">
{% load static tailwind_tags %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{% block title %}SISTEM ARSIP{% endblock %}</title>

    {% tailwind_css %}
</head>

<body class="bg-white min-h-screen overflow-x-auto overflow-y-auto">
    <div>
        <nav class="bg-blue-900 text-white flex justify-between items-center px-4 py-1 h-{20px}">
            <button id="menuBtn" class="md:hidden mr-3 flex">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>

            <div class="flex items-center space-x-2">
                <p class="text-8xl font-bold text-lg select-none">SISTEM ARSIP PWU</p>
            </div>

            <div class="flex items-center space-x-4">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path fill-rule="evenodd" d="M5.25 9a6.75 6.75 0 0 1 13.5 0v.75c0
                        2.123.8 4.057 2.118 5.52a.75.75 0 0 1-.297
                        1.206c-1.544.57-3.16.99-4.831
                        1.243a3.75 3.75 0 1 1-7.48 0
                        24.585 24.585 0 0 1-4.831-1.244.75.75
                        0 0 1-.298-1.205A8.217 8.217 0 0 0 5.25
                        9.75V9Zm4.502 8.9a2.25 2.25 0 1
                        0 4.496 0 25.057 25.057 0 0
                        1-4.496 0Z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </nav>

        <div class="flex">
            <aside id="sidebar"
               class="fixed flex flex-col bg-blue-950 text-white w-28 min-h-[calc(100vh-36px)]
               p-0 space-y-0 transform transition-transform -translate-x-full md:translate-x-0
               md:relative justify-between min z-10">

                <div class="">
                    <a href="{% url 'homepage:dashboard' %}"
                       class="block py-2 px-3 hover:bg-blue-700 text-center text-sm">
                        Beranda
                    </a>
                    <a href="{% url 'disposisi:disposisi' %}"
                       class="block py-2 px-3 hover:bg-blue-700 text-center text-sm">
                        Disposisi
                    </a>
                    <a href="{% url 'homepage:notadinas' %}"
                       class="block py-2 px-3 hover:bg-blue-700 text-center text-sm">
                        Nota Dinas
                    </a>
                    <a href="{% url 'homepage:suratkeluar' %}"
                       class="block py-2 px-3 hover:bg-blue-700 text-center text-sm">
                        Surat Keluar
                    </a>
                    <a href="{% url 'homepage:monitor' %}"
                       class="block py-2 px-3 hover:bg-blue-700 text-center text-sm">
                        Monitor
                    </a>
                    <a href="{% url 'homepage:divisi' %}"
                       class="block py-2 px-3 hover:bg-blue-700 text-center text-sm">
                        Divisi
                    </a>
                </div>

                <div class="mb-2">
                    <a href="{% url 'homepage:pengaturan' %}" class="block py-2 px-3 hover:bg-blue-700 text-center text-sm">Pengaturan</a>
                    <a href="{% url 'accounts:logout' %}" class="block py-2 px-3 hover:bg-blue-700 text-center text-sm">Keluar</a>
                </div>
            </aside>

            <main class="flex w-full bg-white text-black md:ml overflow-hidden">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>

    <script>
        const menuBtn = document.getElementById("menuBtn");
        const sidebar = document.getElementById("sidebar");

        menuBtn.addEventListener("click", () => {
            sidebar.classList.toggle("-translate-x-full");
        });
    </script>

    {% block extra_js %}{% endblock %}

</body>

<style>
/* Restore native date picker icon */
input[type="date"] {
    -webkit-appearance: auto;
    appearance: auto;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: block;
    cursor: pointer;
}
</style>


</html>
