<div id="proses-disposisi" class="flex items-center text-xs">
    <div class="step font-semibold text-white
        {% if disposisi.status_pengajuan == 'DIBUAT' %}
            bg-yellow-300
        {% else %}
            bg-gray-300
        {% endif %}">
        Dibuat
    </div>

    <div class="step font-semibold text-white
        {% if disposisi.status_pengajuan == 'DIAJUKAN' %}
            bg-yellow-300
        {% else %}
            bg-gray-300
        {% endif %}">
        Diajukan
    </div>

    <div class="step font-semibold text-white
        {% if disposisi.status_pengajuan == 'DIISI' %}
            bg-yellow-300
        {% else %}
            bg-gray-300
        {% endif %}">
        Diisi
    </div>

    <div class="step font-semibold text-white
        {% if disposisi.status_pengajuan == 'DIBAGIKAN' %}
            bg-yellow-300
        {% else %}
            bg-gray-300
        {% endif %}">
        Dibagikan
    </div>

    <div class="step font-semibold text-white
        {% if disposisi.status_pengajuan == 'SELESAI' %}
            bg-yellow-300
        {% else %}
            bg-gray-300
        {% endif %}">
        Selesai
    </div>
</div>